

<div *ngIf="product" style="color: azure;" class="product-container">
  <!-- <img *ngFor="let image of product.images" [src]="image" alt="Product Image" class="productImage"> -->
  <img src="https://img.freepik.com/free-photo/clothes-hang_1339-2012.jpg?ga=GA1.1.1358498707.1719163054&semt=ais_user" alt="" class="productImage">
  <div class="text">
  <h2 style="color: blueviolet;">{{ product.name}}</h2>
  <p>Category: {{ product.category?.name }}</p>
  <p>Price: {{ product.price }}</p>
  <p>Stock: {{ product.stock_quantity }}</p>
  <p>{{product.description}}</p>
</div>


</div>
