<div class="reset-code-page">
  <div class="error-container" *ngIf="errorMessage">{{ errorMessage }}</div>
  <div class="success-container" *ngIf="successMessage">{{ successMessage }}</div>

  <div class="reset-code-container">
    <div class="info-section">
      <div class="section">
        <button (click)="navigateHome()"><i class="fa fa-home" aria-hidden="true"></i></button>
      </div>
      <div class="section">
        <img src="/logo.svg" alt="Logo" class="logo">
      </div>
      <div class="section">
        <h1>Shopie</h1>
        <p>Your one-stop online shop</p>
      </div>
    </div>

    <div class="form-section">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="resetCode">Enter<br> Reset Code *</label>
          <input type="text" id="resetCode" [(ngModel)]="resetCode" name="resetCode" maxlength="6" autocomplete="off">
        </div>
        <div class="form-group button">
          <button type="submit">Submit</button>
        </div>
        <div class="form-group">
          <p>Remember password? <a (click)="navigateToLogin()">Login here</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
