.header {
  position: fixed;
  width: 100%;
  background-color: #6a0dad;
  color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: top 0.3s;
  z-index: 1000;
}

.header.hidden {
  top: -100px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 7.5px 30px;
}

.logo a {
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.nav-menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-menu a:hover {
  color: #8a2be2;
}

.search-bar {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-bar input {
  width: 100%;
  max-width: 300px;
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  outline: none;
}

.user-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.user-actions .btn {
  padding: 5px 15px;
  border: none;
  border-radius: 20px;
  background-color: #8a2be2;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.user-actions .btn:hover {
  background-color: #6a0dad;
}

.cart-icon {
  /* position: relative; */
  font-size: 16px;
}

.cart-icon .cart-count {
  /* position: absolute; */
  /* top: -10px; */
  /* right: -10px; */
  background-color: red;
  color: #ffffff;
  border-radius: 50%;
  padding: 5px 10px;
  /* font-size: 10px; */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-menu {
    order: 3;
    justify-content: center;
    width: 100%;
  }

  .search-bar {
    order: 2;
    width: 100%;
    justify-content: center;
  }

  .user-actions {
    order: 1;
    width: 100%;
    justify-content: center;
    gap: 20px;
  }
}
