<div class="featured-products">
  <div class="error-container" *ngIf="errorMessage">{{ errorMessage }}</div>

  <h2>Featured Products</h2>
  <div class="product-grid">
    <div class="product-card" *ngFor="let product of featuredProducts">
      <img [src]="product.images[0].url" alt="{{ product.name }}">
      <!-- <img src="/product_placeholder.svg" alt="{{ product.name }}"> -->
      <div class="product-info">
        <h3>{{ product.name }}</h3>
        <div class="rating">
          <ng-container *ngFor="let star of getRatingArray(product.rating || 0); let i = index">
            <i class="fa" [ngClass]="star"></i>
          </ng-container>
          <p>({{ product.no_of_reviews }})</p>
        </div>
        <p class="price">${{ product.price }}</p>
        <button class="btn" (click)="viewProduct(product.id || '')">Quick View</button>
      </div>
    </div>
  </div>
</div>
