<app-header></app-header>

<div class="product-details">
  <div class="error-container" *ngIf="errorMessage">{{ errorMessage }}</div>
  <div class="success-container" *ngIf="successMessage">{{ successMessage }}</div>

  <div class="product-info">
    <img [src]="product.images[0].url" alt="{{ product.name }}">
    <!-- <img src="/product_placeholder.svg" alt="{{ product.name }}"> -->
    <div class="product-text">
      <h1>{{ product.name }}</h1>
      <p>{{ product.description }}</p>
      <p class="price">${{ product.price }}</p>
      <p class="stock-status" [ngClass]="{'out-of-stock': product.stock_quantity <= 0}">
        {{ product.stock_quantity > 0 ? 'In stock' : 'Out of stock' }}
      </p>
      <button class="add-to-cart" (click)="addToCart($event, product.id || '')">Add to Cart</button>
    </div>
  </div>

  <div class="product-reviews">
    <h2>Reviews</h2>
    <div class="carousel">
      <button class="previous" (click)="previousReview()">&lt;</button>
      <div class="review">
        <p><strong>{{ reviews[currentReview].user?.username }}</strong></p>
        <p class="rating">Rating: {{ reviews[currentReview].rating }} / 5</p>
        <p class="comment">{{ reviews[currentReview].comment }}</p>
        <p class="date">{{ reviews[currentReview].created_at | date: 'longDate' }}</p>
      </div>
      <button class="next" (click)="nextReview()">&gt;</button>
    </div>
  </div>

  <div class="related-products">
    <h2>Related Products</h2>
    <div class="product-cards">
      <div class="product-card" *ngFor="let relatedProduct of relatedProducts" (click)="viewProduct(relatedProduct.id || '')">
        <img [src]="relatedProduct.images[0].url" alt="{{ relatedProduct.name }}">
        <!-- <img src="/product_placeholder.svg" alt="{{ relatedProduct.name }}"> -->
        <div class="product-details">
          <h3>{{ relatedProduct.name }}</h3>
          <p>{{ relatedProduct.description }}</p>
          <p class="price">${{ relatedProduct.price }}</p>
          <p class="stock-status" [ngClass]="{'out-of-stock': relatedProduct.stock_quantity <= 0}">
            {{ relatedProduct.stock_quantity > 0 ? 'In stock' : 'Out of stock' }}
          </p>
          <button class="add-to-cart" (click)="addToCart($event, product.id || '')">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
