
.counts{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
gap: 10px;
}
.product-card{
  background-color:rgba(167, 83, 245, 0.542) ;
}
/* .sale-card{
  background-color: rgba(255, 166, 0, 0.729);
} */
.order-card{
  background-color: #313131;
}
.customer-card{
  background-color: rgb(10, 192, 131);
}
i{
  font-size: 40px;

}
.product-card,.sale-card,.order-card,.customer-card{
  color: #ccc;
width: 250px;
padding: 20px;
display: flex;
flex-direction: column;
align-items: center;
border-radius: 5px;
}
.analytics{
margin-top: 20px;
}
.charts {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.chart-card {
  background-color: #313131;
  color: #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.chart-header {
  margin-bottom: 20px;
}

.chart-header p {
  margin: 0;
  font-size: 1.2em;

}

.chart-content {
  padding: 10px 0;
}

.chart-container {

  height: 250px;
}
