.topbar {
  background-color: #6a0dad;
  color: white;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}

.search-bar input {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
}

.search-bar button {
  background: none;
  border: none;
  cursor: pointer;
}

.search-bar button img {
  width: 24px;
  height: 24px;
}

.user-actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}

.user-actions a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-size: 16px;
}

.user-actions img {
  width: 24px;
  height: 24px;
  margin-left: 15px;
  cursor: pointer;
}
