<div class="topbar">
  <div class="navBar">
    <div class="search-bar">
        <input type="text" placeholder="search" [(ngModel)]="searchTerm" (input)="searchProducts()">
        <button (click)="searchProducts()"><img src="../../../icons/search_24dp_FILL0_wght400_GRAD0_opsz24.png" alt=""></button>
    </div>
    <div class="user-actions">
        <a href="">Home</a>
        <img src="../../../icons/notification.png" alt="">
        <img src="../../../icons/cart.png" alt="">
        <img src="../../../icons/profile.png" alt="">
    </div>
</div>
</div>
