<div>
  <input type="text" placeholder="Filter customers" >
  <table >
    <thead>
      <tr>

        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody *ngIf="users.length>0">
      <tr *ngFor="let user of users">
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone_number}}</td>
        <td>
          <div class="actions">

            <i class="fa fa-eye view" aria-hidden="true" ></i>
            <!-- <i class="fa fa-pencil-square-o edit" aria-hidden="true" ></i>
            <i class="fa fa-trash-o delete" aria-hidden="true"></i> -->
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #noUsers>
    <p style="color: red; margin: 10px;">No users available.</p>
  </ng-template>
</div>
