.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #6a0dad; /* Purple-ish theme */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.3s ease;
  z-index: 1;
}

.profile-section {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #7b1fa2;
  border-radius: 10px;
  margin: 10px;
}

.profile-section:hover {
  background-color: #8e24aa;
}

.sidebar-header {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 70px;
  height: 70px;
  border: solid #fff 3px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  color: #fff;
  flex-grow: 1;
}

.toggle-btn {
  font-size: 25px;
  cursor: pointer;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 30px auto;
  flex-grow: 1;
}

.sidebar-item a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  transition: background-color 0.3s ease;
}

.sidebar-item a:hover {
  background-color: #8e24aa;
  border-radius: 5px;
}

.sidebar-item a i {
  color: #ccc;
  font-size: 25px;
  margin-right: 10px;
}

.logout {
  margin-top: auto;
}

.logout a {
  color: #ff4081; /* Bright pink for logout */
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logout a i {
  font-size: 25px;
}

@media (max-width: 350px) {
  .sidebar {
    width: 100px;
  }

  .profile-section {
    display: none;
  }

  .sidebar-menu {
    margin-top: 50px;
  }

  .sidebar-header .username {
    display: none;
  }

  .sidebar-item a span {
    display: none;
  }

  .sidebar-item a i {
    margin: 0 auto;
  }

  .sidebar.expanded-mobile {
    width: 100px;
    z-index: 2;
  }
}

.sidebar.collapsed {
  width: 100px;
}

.sidebar.collapsed .sidebar-header .username,
.sidebar.collapsed .profile-section,
.sidebar.collapsed .sidebar-item a span {
  display: none;
}

.sidebar.collapsed .sidebar-item a i {
  margin: 0 auto;
}
