/* .sidebar {
  width: 250px;
  background-color: #6a0dad;
  color: white;
  height: 100vh;
  position: fixed;
  transition: width 0.3s;
}

.sidebar.collapsed {
  width: 50px;
}

.sidebar button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 20px 0;
}

.sidebar nav ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.sidebar nav ul li a:hover {
  background-color: #4a0072;
} */


.sideBar{
  width:19vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin-right: 2%;
  position: fixed;
  transition: width 0.3s;
}
.sideBar div{
   margin-left: 3%;
}
.navigation div{
   display: flex;
   align-items: center;
   height: 5vh;
   width: auto;
   gap: 2%;
   margin-bottom: 3px;
}
.navigation div:hover{
   background-color: #39234975;
}
.navigation div p{
   color: white;
}
img{
  width: 15px;
}