<div class="sidebar" [class.collapsed]="isCollapsed">
  <button class="toggle-button" (click)="toggleSidebar()">{{ isCollapsed ? '►' : '◄' }}</button>
  <div class="heading">
    <h1 *ngIf="!isCollapsed">Shopie Market</h1>
  </div>
  <nav>
    <ul>
      <li routerLink="/user/dashboard/profile">
        <img src="/icons/person_24dp (1).png" alt="Profile">
        <span *ngIf="!isCollapsed">My Profile</span>
      </li>
      <li routerLink="/user/dashboard/carts">
        <img src="/icons/add_shopping_cart_24dp.svg" alt="Cart">
        <span *ngIf="!isCollapsed">Cart</span>
      </li>
      <li routerLink="/user/dashboard/orders">
        <img src="/icons/orders_24dp_FILL0_wght400_GRAD0_opsz24.png" alt="Orders">
        <span *ngIf="!isCollapsed">Orders</span>
      </li>
      <li routerLink="/user/dashboard/logout">
        <img src="/icons/logout_24dp (1).png" alt="Logout">
        <span *ngIf="!isCollapsed">Logout</span>
      </li>
    </ul>
  </nav>
</div>
