.forgot-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.error-container {
  position: fixed;
  max-width: 300px;
  top: 15px;
  right: 15px;
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
}

.success-container {
  position: fixed;
  max-width: 300px;
  top: 10px;
  right: 10px;
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
}

.forgot-password-container {
  display: flex;
  width: 60%;
  height: 60%;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.info-section, .form-section {
  flex: 1;
  padding: 20px;
}

.info-section {
  background-color: #6a0dad;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-section .section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-section .section:nth-child(1) {
  justify-content: flex-start;
}

.info-section .section:nth-child(3) {
  flex-direction: column;
  gap: 15px;
}

.info-section .logo {
  width: 100px;
  height: 100px;
}

.info-section button {
  background-color: white;
  font-size: 18px;
  color: #6a0dad;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.form-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-section form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-group {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-section input {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.form-section button {
  background-color: #6a0dad;
  color: white;
  width: 80%;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.button {
  justify-content: center;
}

.form-group a {
  cursor: pointer;
  color: #6a0dad;
  text-decoration: underline;
}
