
.admin-home
{
  display: flex;

}
.top-header{
  height: 10vh;
  display: flex;
}
.main-wrapper{
  margin: 0 auto;
  width: 75vw;
}

.body-content
{
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 20px;
  margin: 0 auto;
}



